<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Unit Converter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3>Unit Converter</h3>

  <ion-item>
    <ion-select interface="action-sheet" placeholder="Select Unit" [(ngModel)]="selectedType">
      <ion-select-option *ngFor="let unitType of unitTypes | keyvalue" value="{{unitType.key}}">{{unitType.key}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="selectedType">
    <ion-item>
      <ion-input type="number" placeholder="Input Value" [(ngModel)]="fromValue"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select interface="action-sheet" placeholder="From" [(ngModel)]="from" (ionChange)="doConverter()">
        <ion-select-option *ngFor="let unit of keys(units)" value="{{unit}}">{{unit}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      =
    </ion-item>
    <ion-item>
      <ion-input disabled type="number" placeholder="Converted Value" [(ngModel)]="toValue"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select interface="action-sheet" placeholder="To" [(ngModel)]="to" (ionChange)="doConverter()">
        <ion-select-option *ngFor="let unit of keys(units)" value="{{unit}}">{{unit}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>